$mobile: 576px;
$tabletMin: 577px;
$tablet: 768px;
$collapseMin: 769px;
$collapse: 850px;
$desktopMin: 991px;
$desktop: 992px;
$widescreen: 1200px;

@mixin mobile {
	@media (max-width: $tablet - 1px) {
		@content;
	}
}

@mixin mobileUp {
	@media (min-width: $tabletMin) {
		@content;
	}
}

@mixin tabletUp {
	@media (min-width: $tablet) {
		@content;
	}
}

@mixin collapse {
	@media (max-width: $collapse - 1px) {
		@content;
	}
}

@mixin collapseUp {
	@media (min-width: $collapse) {
		@content;
	}
}

@mixin collapseDown {
	@media (max-width: $collapse - 1px) {
		@content;
	}
}

@mixin nonDesktop {
	@media (max-width: $desktopMin) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: $desktopMin) {
		@content;
	}
}

@mixin desktopUp {
	@media (min-width: $desktop) {
		@content;
	}
}

@mixin nonWidescreen {
	@media (max-width: $widescreen - 1) {
		@content;
	}
}

@mixin widescreen {
	@media (min-width: $widescreen) {
		@content;
	}
}

@mixin touch {
	@media (pointer: coarse) {
		@content;
	}
}

@mixin nontouch {
	@media (pointer: fine) {
		@content;
	}
}

@mixin touchOrCollapse {
	@media (max-width: $collapse - 1px), (pointer: coarse) {
		@content;
	}
}

@mixin nontouchOrDesktop {
	@media (min-width: $collapse), (pointer: coarse) {
		@content;
	}
}
