$black: #000E24;
$white: #FFF;
$grey: #C8C9CB;
$greyDark: #565D57;
$blue: #0091D6;
$blueDark: #001535;
$green: #C5FC01;

$fontBase: Roboto;
$fontHeading: Oswald;

$headerHeight: 124px;
$headerHeightMobile: 52px;

$footerHeight: 70px;
