@import '../../css/utils/utils';

$angleHeight: 20vw;
$sectionPadding: 20vw;

$transform: 21.80140948635181deg;

@mixin allSections() {

	&[data-even='true'],
	&[data-odd='true'] {
		@content;
	}
}

@mixin evenSections() {
	[data-section]:nth-child(even) {
		@content;
	}
}

@mixin oddSections() {
	[data-section]:nth-child(odd) {
		@content;
	}
}

@mixin targetChild($index) {
	[data-section]:nth-child(#{$index}) {
		@content;
	}
}

@mixin firstChild() {
	[data-section]:first-child {
		@content;
	}
}

@mixin lastChild() {
	[data-section]:last-child {
		@content;
	}
}

@mixin hassOddLength() {
	&[data-odd='true'] {
		@content;
	}
}

@mixin hasEvenLength() {
	&[data-even='true'] {
		@content;
	}
}

@mixin defaultStyles() {
	[data-section]:not(:last-child) {
		[data-clip-target] {
			padding-bottom: $sectionPadding;
		}
	}

	[data-section]:not(:first-child) {
		margin-top: $angleHeight * -1;

		[data-clip-target] {
			padding-top: $sectionPadding;
		}
	}

	[data-section]:first-child {
		clip-path: none;
	}

	[data-section] {
		overflow: hidden;
		width: 100%;
	}

	[data-line] {
		@include line();
	}

	[data-line-active='true'] {
		opacity: 1;
	}
}

@mixin line() {
	background: rgba(#C8C9CB, 0.54);
	display: none;
	height: 3px;
	opacity: 0;
	position: absolute;
	transition: opacity 0.3s ease-in-out;
	width: 200%;
	z-index: -2;
}

.sectionManager {
	&[data-template='chevron'] {
		@include hassOddLength() {
			@include evenSections() {
				clip-path: polygon(0 #{$angleHeight}, 100% 0, 100% 100%, 0 100%);

				&:not(:last-child) {
					[data-line-bottomlefttoright] {
						display: block !important;
					}
				}

				&:not(:last-child):not(:nth-child(2)) {
					[data-line-toprighttoleft] {
						display: block !important;
					}
				}
			}

			@include oddSections() {
				clip-path: polygon(0 0, 100% #{$angleHeight}, 100% 100%, 0 100%);

				[data-line-toplefttoright],
				[data-line-bottomrighttoleft] {
					display: block !important;
				}
			}
		}

		@include hasEvenLength() {
			@include evenSections() {
				clip-path: polygon(0 0, 100% #{$angleHeight}, 100% 100%, 0 100%);

				&:not(:last-child) {
					[data-line-bottomrighttoleft] {
						display: block !important;
					}
				}

				&:not(:last-child):not(:nth-child(2)) {
					[data-line-toplefttoright] {
						display: block !important;
					}
				}
			}

			@include oddSections() {
				clip-path: polygon(0 #{$angleHeight}, 100% 0, 100% 100%, 0 100%);

				[data-line-toprighttoleft],
				[data-line-bottomlefttoright] {
					display: block !important;
				}
			}
		}

		@include allSections() {
			@include defaultStyles();

			@include targetChild(2) {
				clip-path: polygon(0 0, 50% #{$angleHeight}, 100% 0, 100% 100%, 0 100%);

				[data-line-chevron] {
					display: block !important;
				}
			}

			@include firstChild() {
				[data-line] {
					display: none !important;
				}
			}

			@include lastChild() {
				[data-line-toprighttoleft] {
					display: block !important;
				}

				[data-line-chevron],
				[data-line-bottomlefttoright],
				[data-line-bottomrighttoleft] {
					display: none !important;
				}
			}
		}
	}

	&[data-template='angle'] {

		@include allSections() {
			@include evenSections() {
				clip-path: polygon(0 0, 100% #{$angleHeight}, 100% 100%, 0 100%);

				[data-line-toplefttoright],
				[data-line-bottomrighttoleft] {
					display: block !important;
				}
			}

			@include oddSections() {
				clip-path: polygon(0 #{$angleHeight}, 100% 0, 100% 100%, 0 100%);

				[data-line-toprighttoleft],
				[data-line-bottomlefttoright] {
					display: block !important;
				}
			}

			@include defaultStyles();

			@include lastChild() {

				[data-line-chevron],
				[data-line-bottomlefttoright],
				[data-line-bottomrighttoleft] {
					display: none !important;
				}
			}

			@include firstChild() {
				clip-path: none;

				[data-line] {
					display: none !important;
				}

				[data-line-bottomlefttoright] {
					display: block !important;
					z-index: 1;
				}
			}

			@include targetChild(2) {
				clip-path: polygon(0 0, 100% #{$angleHeight}, 100% 100%, 0 100%);

				[data-line-bottomrighttoleft] {
					display: block !important;
				}
			}
		}
	}

	&[data-template='project'] {
		@include evenSections() {
			clip-path: polygon(0 #{$angleHeight}, 100% 0, 100% 100%, 0 100%);

			&:not(:last-child) {
				[data-line-bottomlefttoright] {
					display: block !important;
				}
			}

			&:not(:nth-child(2)) {
				[data-line-toprighttoleft] {
					display: block !important;
				}
			}
		}

		@include oddSections() {
			clip-path: polygon(0 0, 100% #{$angleHeight}, 100% 100%, 0 100%);

			[data-line-toplefttoright],
			[data-line-bottomrighttoleft] {
				display: block !important;
			}
		}

		@include allSections() {
			@include defaultStyles();

			@include firstChild() {
				[data-line] {
					display: none !important;
				}

				[data-line-chevron] {
					display: block !important;
				}

				[data-clip] {
					clip-path: polygon(0 0, 50% #{$angleHeight}, 100% 0, 100% 100%, 0 100%);
					height: $angleHeight;
					margin-top: $angleHeight * -1;
				}
			}
		}

		@include targetChild(2) {
			clip-path: none;
			margin-top: $angleHeight * -1;

			[data-clip-target] {
				clip-path: none;
			}

			[data-line-chevron] {
				display: block !important;
			}
		}
	}
}
