@import '../../css/utils/utils';

@mixin heroHeight() {
	height: 400px;
	width: 100%;

	@include tabletUp {
		height: 75vh;
		min-height: 800px;
	}

	@include desktopUp {
		height: 80vh;
	}
}

.hero {
	@include heroHeight();
	display: block;
	position: relative;
	width: 100%;
}

.image {
	@include heroHeight();

	img {
		height: 100%;
		object-fit: cover;
		object-position: top center;
		width: 100%;
	}
}

.content {
	@include absoluteFull();
	@include zIndex(heroContent);
	align-items: center;
	display: flex;
	justify-content: center;
}

.contentInner {
	color: $white;
	padding: 0 11px;
	text-align: center;

	h1,
	h2 {
		@include fontSize(50, 50);
		font-family: $fontHeading;
		font-weight: 700;
		margin: 0;
		text-transform: uppercase;

		@include collapseUp {
			@include fontSize(70, 70);
		}

		@include desktopUp {
			@include fontSize(90, 90);
			white-space: nowrap;
		}
	}

	h3,
	h4,
	h5,
	h6,
	p {
		@include fontSize(20, 24);
		font-weight: 300;
		letter-spacing: 2.3px;
		margin: 9px 0 0;
		text-transform: uppercase;

		@include collapseUp {
			@include fontSize(23, 30);
			letter-spacing: 3px;
			white-space: nowrap;
		}

		@include desktopUp {
			@include fontSize(26, 39);
			letter-spacing: 3px;
			white-space: nowrap;
		}

		strong {
			font-weight: 700;
		}
	}
}

.scroll {
	bottom: 60px;
	cursor: pointer;
	display: none;
	height: 44px;
	left: 0;
	margin: 0 auto;
	opacity: 0.7;
	position: absolute;
	right: 0;
	transition: opacity 0.2s ease-in-out;
	width: 169px;
	@include zIndex(heroScroll);

	@include collapseUp {
		display: block;
	}

	&:hover {
		opacity: 0.9;
	}
}

.scrollLine {
	background-color: $white;
	box-sizing: content-box;
	display: block;
	height: 15px;
	position: absolute;
	bottom: 11px;
	width: 50%;
}

.scrollLine:first-child {
	left: 0;
	width: 50%;
}

.scrollLine:last-child {
	left: 50%;
	width: 50%;
}
