@import '../../css/utils/utils.scss';

.section {
	position: relative;
}

.background {
	@include absoluteFull();
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	opacity: 0.23;
	z-index: -1;

	@include tabletUp {
		background-attachment: initial;
	}
}

.overlay {
	@include absoluteFull();
	background-color: $black;
	z-index: -1;
}

.inner {
	@extend .container;
}

.headingRow {
	align-items: flex-end;
	display: flex;
	margin-bottom: 36px;
}

.headingCol {
	@include tabletUp {
		width: 50%;

		&:first-child {
			margin-right: 5%;
			width: 45%;
		}
	}
}

.heading {
	@include brandTitle();
}

.row {
	align-items: center;
	display: flex;
}

.col {
	width: 50%;

	&:first-child {
		padding-right: 10%;
	}

	@include desktopUp {
		&:first-child {
			padding-right: 131px;
		}
	}
}

.question {
	cursor: pointer;
	margin-bottom: 18px;

	span {
		@include fontSize(18, 26);
		font-family: $fontHeading;
		padding-bottom: 10px;
		position: relative;

		&::after {
			background-color: $green;
			bottom: 0;
			content: ' ';
			height: 3px;
			left: 0;
			position: absolute;
			transition: width 0.2s ease-in-out;
			width: 0;
		}

		@include tabletUp {
			@include fontSize(22, 32);
		}
	}
}

.answer {
	@include fontSize(15, 23);

	@include tabletUp {
		@include fontSize(18, 28);
	}
}

.questionActive {
	span {
		&::after {
			width: 75%;
		}
	}
}

.questionList {
	@include noList();
}

.accordion {
	max-width: 710px;
	margin: 0 auto;
}

.accordionList {
	@include noList();
}

.accordionItem {
	&:not(:last-child) {
		margin-bottom: 28px;
	}

	.answer {
		overflow: hidden;
		max-height: 0;
		visibility: hidden;
	}
}

.accordionItemActive {
	.answer {
		max-height: 1000px;
		visibility: visible;
	}
}

.allFaqLink {
	margin-top: 30px;

	@include tabletUp {
		margin-top: 50px;
	}
}

.allLink {
	@include arrowLink();
}

.cta {
	margin-top: 60px;

	@include collapseUp {
		margin-top: 121px;
	}
}

.ctaInner {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	@include collapseUp {
		flex-wrap: nowrap;
	}
}

.ctaContent {
	margin: 0 0 20px;
	width: 100%;

	@include collapseUp {
		padding-right: 131px;
		width: calc(100% - 231px);
	}

	@include headings() {
		margin: 0;
	}

	h1,
	h2 {
		@include fontSize(40, 60);
		margin: 0 0 7px;
		font-weight: 400;
	}

	h3,
	h4,
	h5,
	h6 {
		@include fontSize(27, 37);
		font-weight: 300;

		strong {
			font-weight: 700;
		}
	}
}

.ctaButton {
	margin: 0 0 20px;
	width: 231px;

	> a {
		display: block;
		font-weight: 400;
		width: 100%;
	}
}
