@import '../../css/utils/utils.scss';

.section {
	background-color: $blueDarkest;
}

.sectionContainer {
	@extend .container;
}

.inner {
	padding: 40px 0;
}

.row {
	@include collapseUp {
		display: flex;
	}
}

.col {
	width: 100%;

	@include desktopUp {
		width: 50%;
	}

	&:first-child {
		@include desktopUp {
			margin-right: 10px;
			width: calc(50% - 10px);
		}

		@include widescreen {
			margin-right: 33px;
			width: calc(50% - 33px);
		}
	}

	&:last-child {
		@include desktopUp {
			margin-left: 10px;
			width: calc(50% - 10px);
		}

		@include widescreen {
			margin-left: 33px;
			width: calc(50% - 33px);
		}
	}
}

.heading {
	@include brandTitle();
	margin-bottom: 36px;
}

.copy,
.copy p {
	@include fontSize(18, 28);
}

.copy {
	margin-bottom: 27px;

	@include desktopUp {
		margin-bottom: 0;
	}
}

.video {
	margin: 0 auto;

	@include desktopUp {
		max-width: 609px;
		margin: 0;
	}
}

.slider {
	margin-top: 40px;

	@include collapseUp {
		margin-top: 60px;
	}

	@include desktopUp {
		margin-top: 78px;
	}
}
