.section {
	position: relative;

	&::after {
		background: red;
		content: '';
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
		clip-rule: unset;
		height: 25%;
		left: 0;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1;
	}
}
