@import '../../css/utils/utils';

.footer {
	bottom: 0;
	background-color: $blueDark;
	height: $footerHeight;
	position: absolute;
	width: 100%;
}

.inner {
	@extend .container;
	align-items: center;
	display: flex;
	height: 100%;
}

.copy {
	@include fontSize(13, 18);
	color: $grey;
}
